@using Globomatics.Infrastructure.Repositories
@inject IStateRepository state
@{
    ViewData["Title"] = "Home";
}

<div class="row">
    <div class="col-md-7">
        <div class="card">
            <div class="card-body">
                TBA: Product List
                <h5 class="card-title">Available events</h5>
             @await Component.InvokeAsync("ProductList")
             @* <vc:product-list></vc:product-list> *@
            </div>
        </div>
    </div>
    <div class="col-sm-5">
        <div class="card">
            <div class="card-body">
                @await Component.InvokeAsync("ShoppingCart",
                new{cartId=state.GetValue("CartId"),isCompact=true})
            </div>
        </div>
    </div>

</div>